@tailwind base;
@tailwind components;
@tailwind utilities;
.header-one {
  font-size: 2em;
  font-weight: bold;
}

.header-two {
  font-size: 1.75em;
  font-weight: bold;
}

.header-three {
  font-size: 1.5em;
  font-weight: bold;
}