@tailwind base;
@tailwind components;
@tailwind utilities;
.header-one {
  font-size: 2em;
  font-weight: bold;
}

.header-two {
  font-size: 1.75em;
  font-weight: bold;
}

.header-three {
  font-size: 1.5em;
  font-weight: bold;
}
/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Editor container */
.editor-container {
  border: 4px solid #b5d2f1;
  border-radius: 3px;
  padding: 16px;
  background-color: #fff;
  /* min-height: ; */
  height: 80vh;
  margin: 0 auto;
  width: 80%;
  position: relative;
}

/* Header section styling */
.editor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.editor-header h1 {
  font-size: 1rem;
  margin: 0;
  color: #333;
}

/* Save button styling */
.save-button {
  background-color: #fff;
  border: 1px solid #007bff;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
}

.save-button:hover {
  background-color: #007bff;
  color: #fff;
}

/* Input styling */
.editor-title-input {
  width: calc(100% - 32px);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 16px;
}

.editor-title-input:focus {
  border-bottom: 2px solid #007bff;
}

/* Placeholder for the editor text area */
.editor-textarea {
  min-height: 300px;
}